* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #4C2A8E;
}

.container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.back-button {
    font-size: 24px;
    color: #4C2A8E;
    text-decoration: none;
    position: absolute;
    top: 10px;
    left: 10px;
}

h2 {
    color: #333;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

p {
    color: #666;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #4C2A8E;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #3A2173;
}